@font-face {
  font-family: 'cr-icon'; /* Project id 4121636 */
  src: url('font/iconfont.woff2?t=1687163484628') format('woff2'),
    url('font/iconfont.woff?t=1687163484628') format('woff'),
    url('font/iconfont.ttf?t=1687163484628') format('truetype');
}

.cr-icon {
  font-family: 'cr-icon', serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cr-icon-preference:before {
  content: '\e605';
}

.cr-icon-resume-copy:before {
  content: '\e631';
}

.cr-icon-termsOfService:before {
  content: '\e68a';
}

.cr-icon-resume:before {
  content: '\e662';
}

.cr-icon-datetime:before {
  content: '\e612';
}

.cr-icon-company:before {
  content: '\e661';
}

.cr-icon-phone:before {
  content: '\e600';
}

.cr-icon-setting:before {
  content: '\e621';
}

.cr-icon-delete:before {
  content: '\e68e';
}

.cr-icon-workExperience:before {
  content: '\e61a';
}

.cr-icon-edit:before {
  content: '\e67f';
}

.cr-icon-renshutongji:before {
  content: '\e623';
}

.cr-icon-feedback:before {
  content: '\e614';
}

.cr-icon-educationLevel:before {
  content: '\e611';
}

.cr-icon-navigation:before {
  content: '\e60c';
}

.cr-icon-security:before {
  content: '\e99b';
}
